<h1>Show Dataclip</h1>

<ul>
  <li>
    <strong>Body:</strong>
    <%= @dataclip.body %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @dataclip.type %>
  </li>
</ul>

<span>
  <%= live_redirect("Back",
    to: Routes.project_dataclip_index_path(@socket, :index, @project.id)
  ) %>
</span>
