@tailwind components;
@tailwind utilities;

.reactflow__edge.fail-stroke .reactflow__edge-path {
  stroke: theme('colors.red.400');
}

.reactflow__edge.success-stroke .reactflow__edge-path {
  stroke: theme('colors.green.500');
}

.dashed-edge {
  stroke-dasharray: 5px;
}

.dotted-edge {
  stroke-dasharray: 1px;
}
