<LayoutComponents.page_content>
  <:header>
    <LayoutComponents.header socket={@socket}>
      <:title></:title>
    </LayoutComponents.header>
  </:header>
  <LayoutComponents.centered></LayoutComponents.centered>
</LayoutComponents.page_content>
