<ul>
  <%= if @current_user do %>
    <li><%= @current_user.email %></li>
    <li>
      <.link href={Routes.profile_edit_path(@conn, :edit)}>
        Settings
      </.link>
    </li>
  <% else %>
    <li>
      <.link href={Routes.user_registration_path(@conn, :new)}>
        Register
      </.link>
    </li>
    <li>
      <.link href={Routes.user_session_path(@conn, :new)}>
        Log in
      </.link>
    </li>
  <% end %>
</ul>
