@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './monaco-style-overrides.css';
@import 'reactflow/dist/style.css';
@import '../../deps/petal_components/assets/default.css';
/* This file is for your main application CSS */

:root {
  --primary-bg: theme('colors.primary.800');
  --primary-text: theme('colors.white');
  --primary-bg-lighter: theme('colors.primary.600');
  --primary-bg-dark: theme('colors.primary.900');
  --primary-text-light: theme('colors.primary.300');
  --primary-text-lighter: theme('colors.primary.200');
  --primary-ring: theme('colors.gray.300');
  --primary-ring-focus: theme('colors.primary.600');
}

#side-menu {
  &.secondary-theme {
    --primary-bg: theme('colors.blue.700');
    --primary-text: theme('colors.white');
    --primary-bg-lighter: theme('colors.blue.600');
    --primary-bg-dark: theme('colors.blue.900');
    --primary-text-light: theme('colors.blue.300');
    --primary-text-lighter: theme('colors.blue.200');
    --primary-ring: theme('colors.gray.300');
    --primary-ring-focus: theme('colors.blue.600');
  }

  background-color: var(--primary-bg);
  color: var(--primary-text);

  div > div {
    &:first-child {
      background-color: var(--primary-bg-dark);
    }
  }

  .menu-item-active {
    color: var(--primary-text-lighter);
    background-color: var(--primary-bg-dark);
  }
  .menu-item-inactive {
    color: var(--primary-text-light);
  }
  .menu-item-inactive:hover {
    background-color: var(--primary-bg-dark);
  }

  input#combobox {
    background-color: white;
    color: theme('colors.gray.900');
    --tw-ring-color: var(--primary-ring);

    &:focus {
      --tw-ring-color: var(--primary-ring-focus);
    }

    ~ ul {
      background-color: white;
      --tw-ring-color: var(--primary-ring-focus);

      > li {
        color: theme('colors.gray.900');
        .hero-check {
          color: var(--primary-bg-lighter);
        }

        &[data-highlighted='true'] {
          background-color: var(--primary-bg-lighter);
          color: var(--primary-text);

          .hero-check {
            color: var(--primary-text);
          }
        }
      }
    }
  }
}

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8b5f0d;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #dc2626;
  background-color: #fdebeb;
  border-color: #fdebeb;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.bg-vs-dark {
  background-color: #334155;
}

.phx-click-loading {
  &:not([phx-hook='WorkflowEditor']) {
    opacity: 0.5;
    transition: opacity 1s ease-out;
  }
}

[phx-hook='WorkflowEditor'].phx-click-loading ~ form#workflow-form {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

div[id^='tippy-'] {
  @apply rounded-md p-2 z-[9999]
         text-xs text-center text-primary-50
         bg-primary-950;
}

.icon-button {
  @apply cursor-pointer
  hover:text-indigo-500
  font-bold
  text-secondary-600
  transition
  hover:rotate-[-6deg];
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Collapsible panels */
.collapsible-panel.collapsed {
  flex: 0 0 0% !important;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  /* override overflow rules when collapsed */
  overflow: visible !important;
}

.collapsible-panel.collapsed .panel-content {
  display: none !important;
}

.collapsible-panel.collapsed .panel-expand-icon {
  display: block !important;
}

.collapsible-panel.collapsed .panel-expand-icon {
  display: block !important;
}

#output-logs.collapsed .close-button {
  @apply !block mb-24;
}

.collapsible-panel.collapsed .panel-collapse-icon {
  @apply !hidden;
}

.collapsible-panel.collapsed .panel-header {
  flex-direction: column-reverse !important;
  gap: 2rem;
  height: 100%;
  justify-content: flex-end;
  white-space: nowrap;
  width: 42px !important;
}

.collapsible-panel.collapsed .panel-header-tabs {
  flex-direction: column-reverse !important;
  padding-top: 8px;
  gap: 4.8rem;
  height: 100%;
  justify-content: flex-end;
  white-space: nowrap;
  width: 42px !important;
}

.collapsible-panel.collapsed .panel-header-title {
  transform: rotate(90deg) !important;
}

div.line-num::before {
  content: attr(data-line-number);
  padding-left: 0.1em;
  max-width: min-content;
}

.log-viewer-highlighted {
  @apply bg-yellow-400 ml-1 !w-0.5;
}

.tab-container {
  [hidden='true'] {
    display: none;
  }

  @apply h-full;
}

.run-tab-container [role='tablist'] {
  @apply border-b border-gray-200 -m-1;
}

.job-viewer-tabs[role='tablist'] [role='tab'] {
  @apply !text-xs;
}

.tabbed-selector[role='tablist'] [role='tab'] {
  @apply text-sm
    font-semibold
  text-secondary-700
    py-2
    px-1
    border-b-2
    border-transparent
    leading-tight;

  &[data-disabled] {
    @apply hover:cursor-not-allowed;
  }

  &[aria-selected='true'] {
    @apply border-b-primary-500
     text-primary-600;
  }

  &[aria-selected='false'] {
    @apply text-gray-500
        hover:text-gray-600
        hover:border-b-gray-300;
  }
}

.makeup-html {
  @apply text-pretty;

  ul {
    @apply list-disc list-outside ml-4;
  }

  p:not(:first-of-type) {
    @apply mt-4;
  }

  pre {
    @apply text-wrap text-slate-200 bg-slate-700 rounded-md p-2 my-2;

    code {
      @apply text-sm leading-3;
    }
  }
}

@layer components {
  .link {
    @apply cursor-pointer
      /* underline */
      underline-offset-2
      hover:underline hover:underline-offset-2
      whitespace-nowrap
      inline-block
      font-medium
      text-indigo-400 hover:text-indigo-500;
  }

  .link-plain {
    @apply font-normal
     text-gray-800;
  }

  .link-info {
    @apply text-blue-700 hover:text-blue-600;
  }

  .link-danger {
    @apply text-red-700 hover:text-red-600;
  }

  .link-success {
    @apply text-green-700 hover:text-green-600;
  }

  .link-warning {
    @apply text-yellow-700 hover:text-yellow-600;
  }
}

@layer components {
  .table-action {
    @apply inline-flex
    items-center
    rounded
    bg-white
    mx-0.5
    my-0.5
    px-2
    py-1
    text-sm
    font-semibold
    text-gray-900
    shadow-sm
    ring-1
    ring-inset
    ring-gray-300
    hover:bg-gray-50
    disabled:cursor-not-allowed
    disabled:opacity-30
    disabled:hover:bg-white;
  }
}
