<main class="h-screen w-screen">
  <div class="flex flex-row h-full">
    <div class="flex-none w-48 bg-indigo-800 h-full">
      <div class="flex flex-col h-full">
        <div class="w-full h-20 bg-indigo-900 flex items-center justify-center">
          <img
            class="h-10 w-10"
            src={Routes.static_path(@socket || @conn, "/images/logo-white.svg")}
            alt="OpenFn"
          />
        </div>
        <div class="h-12">
          <Settings.menu_item
            text="Projects"
            to={Routes.project_index_path(@socket, :index)}
            active={@active_menu_item == :projects}
          />
        </div>
        <div class="h-12">
          <Settings.menu_item
            text="Users"
            to={Routes.user_index_path(@socket, :index)}
            active={@active_menu_item == :users}
          />
        </div>
        <div class="grow"></div>
        <div class=" text-indigo-300 
                  h-12 border-t-2 border-indigo-900 w-full 
                  flex items-center justify-center">
          <%= live_redirect("← Back",
            to: Routes.dashboard_index_path(@socket, :index)
          ) %>
        </div>
      </div>
    </div>
    <div class="flex-auto">
      <.live_info_block flash={@flash} />
      <.live_error_block flash={@flash} />

      <%= @inner_content %>
    </div>
  </div>
</main>
