<MainSection.header title="Dashboard" />

<MainSection.main>

  <div class="container mx-auto pt-4">
    <div id="ui-builder" style="max-height: 80vh"></div>
  </div>

  <script charset="utf-8">
    import("<%= Routes.static_path(@socket, "/assets/ui-builder.js") %>")
      .then(({Builder}) => Builder(document.getElementById("ui-builder"), "this; 1+1;"))
  </script>

</MainSection.main>
