<div class="flex flex-col border-2 rounded-md bg-white">
  <div
    phx-hook="WorkflowDiagram"
    class="h-[80vh] w-full"
    id={"hook-#{@project.id}"}
    phx-update="ignore"
    phx-target={@myself}
  >
  </div>
</div>
